html {
    background: url("./ForestBackground.jpg");
    background-color: transparent;
    background-repeat:repeat;
    background-size: 35%;
}

h1 {
    background: green;
    color: white;
    width: fit-content;
    font-size: 40px;
}

a {
    color: blue;
    text-decoration: none;
}

h2 {
    background-color: lightgreen;
    width: fit-content;
}

li {
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

p {
    color:black;
    background-color:aquamarine;
    opacity: 0.75;
}