#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

.color-title {
    font-weight: normal;
}

img {
    height:200px;
    width: 200px;
}

html {
    background-color: aliceblue;
}
/*Hello, this comment is to learn something about Git*/